<% if comment.present? %>
 
    <div id="comment-<%= comment.id %>">
       <p>
	      <strong>Commenter:</strong>
	      <%= comment.user.try(:first_name) %>
	   </p>
	 
	   <p>
	       <strong>Comment:</strong>
	       <%= comment.body %>
	   </p>
     	
 <div id="viru-<%= comment.id %>">
		<%= render 'citycomments/like_dislike', comment: comment, city: @city %>
	</div>

<div>
	  <%= link_to 'Delete Comment', [comment.city, comment], method: :delete, data: { confirm: 'Are you sure?' , remote: true} %>
	</div>


    </div>
     <hr>
<% end -%>