<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <p>
    <%= f.label :First_Name %><br>
    <%= f.text_field :first_name %>
 </p>

  <p>
    <%= f.label :Last_Name %><br>
    <%= f.text_field :last_name %>
 </p>

  <p>
       <%= f.label :Country %><br>
       <%= f.select :country_id, Country.all.collect { |p| [ p.country_name, p.id ] }, include_blank: true %>
  </p>

  <p>
    <%= f.label :State %><br>
    <%= f.select :state_id, State.all.collect { |p| [ p.state_city, p.id ] }, include_blank: true %>
  </p>

  <p>
    <%= f.label :City %><br>
    <%= f.select :city_id, City.all.collect { |p| [ p.city_name, p.id ] }, include_blank: true %>
  </p>

  <p>
    <%= f.label :monthly_charge %><br>
    <%= f.number_field :monthly_charge %>
  </p>
  
  <p>
    <%= f.label :Upload_Image %> <br>
    <%= f.file_field :image %>
  </p>
 
  <div class="field">
       <%= f.label :email %> <br>
       <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
       <%= f.label :password %>
       <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> characters minimum)</em>
       <% end %><br />
       <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
       <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
