<%= form_with scope: :user, url: users_path, local: true do |form| %>

  <p>
    <%= form.label :Email %><br>
    
  </p>

  <p>
    <%= form.label :First_Name %><br>
    
  </p>

  <p>
    <%= form.label :Last_Name %><br>
    
  </p>

  <p>
  <%= form.label :Country_Name %><br>
  
  </p>

  <p>
  <%= form.label :state_Name %><br>
  
  </p>
  <p>
    <%= form.label :Start_date %><br>
   
  </p>
 
  <p>
    <%= form.label :End_date %><br>
   
  </p>

  <p>
    <%= form.label :Monthly_charge %><br>
    
  </p>

  <p>
   <%= form.label :Image %> <br>
  
  </p>

  <p>
   <%= form.label :Active %><br>
   
  </p>

  <p>
    <%= form.submit %>
  </p>

  <% end %> 
  <%= link_to 'New company', new_company_path %><br>
  <%= link_to 'Back', welcome_index_path %>