<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
 
<p>
  <strong>First_Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last_Name:</strong>
  <%= @user.last_name %>
</p>
 
<p>
  <strong>Country Name</strong>
  <%= @user.country_id.country_name %>
</p>

<p>
  <strong>State Name:</strong>
  <%= @user.state_id.state_city %>
</p>

<p>
  <strong>City Name:</strong>
  <%= @user.city_id.city_name %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @user.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @user.end_date %>
</p>

<p>
  <strong>Monthly_charge:</strong>
  <%= @user.monthly_charge %>
</p>

<p>
  <strong>Image Id:</strong>
  <%= @user.image.image %>
</p>
 

<%= link_to 'Back', welcome_index_path %>