<h1>Welcome to Index</h1>

 <!-- <h1 style="font-size:180%;"><%= link_to 'user', new_user_path %></h1>  -->
<h1 style="font-size:180%;"><%= link_to 'New company', new_company_path %></h1>
<h1 style="font-size:180%;"><%= link_to'User Role',new_user_role_path %> </h1>
<h1 style="font-size:180%;"><%= link_to'User Region',new_user_region_path %></h1>
<h1 style="font-size:180%;"><%= link_to  'Region', new_region_path %> </h1>
<h1 style="font-size:180%;"><%= link_to ' country ',new_country_path %></h1>
<h1 style="font-size:180%;"><%= link_to  ' state ', new_state_path %></h1>
<h1 style="font-size:180%;"><%= link_to  ' city ', new_city_path %> </h1>
<h1 style="font-size:180%;"><%= link_to  'image', new_image_path %> </h1>
<h1 style="font-size:180%;"><%= link_to  'place', new_place_path %></h1>
<h1 style="font-size:180%;"><%= link_to  'node', new_node_path %> </h1>
