<h1>Listing User</h1>


<table><% @user.each do |my_user| %>
   <tr>
    <th>first_Name</th>
     <th>last_Name</th>

   </tr>
 
    <tr>
      <td><%= my_user.first_name %></td>
      <td><%= my_user.last_name %></td>
     <td><%= link_to 'show profiles', show_particular_user_profile_path(my_user) %></td>
     <td><% if(my_user.id == current_user.id) %>
     <%= link_to 'Edit', edit_my_user_path(my_user) %>
       <% end %>
     </td>
     <td><% if(my_user.id == current_user.id) %>
     <%= link_to 'destroy', user_destroy_path(my_user),
                       method: :delete, data: {confirm: 'sure?'} %>
                         <% end %>
                       </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', welcome_index_path %>